.App {
  --canvasMaxWidthVal: 550;
  --canvasMaxWidth: 550px;
  --canvasHeightWidthRatio: calc(320 / var(--canvasMaxWidthVal));

  --canvasWidth: var(--canvasMaxWidth);

  text-align: center;
}

@media screen and (max-width: 549px) {
  .App {
    --canvasWidth: 100vw;
  }
}

.App .ecard-container {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;

  width: var(--canvasWidth);
  height: calc(var(--canvasWidth) * var(--canvasHeightWidthRatio));
  margin: auto;
  align-content: center;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
